$fuente_principal: "Ubuntu", sans-serif;
$fuente_logo: "Josefin Sans", sans-serif;
$negro: #000000;

// Colores 
$negro: #000000;
$blanco: #ffffff;
$blanco_2: #e5dada;
$amarillo: #e59500;
$vino: #840032;
$azul: #002642;
$azul2: #0068b3;


// Media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
