@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-footer{
    background-color: v.$negro;
    padding: 2rem 0;
    p{
        margin:0;
        text-align: center;
        color: v.$blanco;
    };
}