@use 'base/variables' as v;
@use 'base/mixins' as m;

.payment-options{
  @include m.contenedor;
}

.card-payment, .qr-payment{
  @include m.contenedor;
  padding: 0;
  margin-top:3.5rem;
  margin-bottom: 3.5rem;
}

.contenido-card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.botones-opciones-pago{
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include m.tablet{
    display: flex;
    justify-content: space-evenly;
  }
}

.formulario-viaje {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
  text-align: left;
  width: 100%;
}

.form-group input[type="text"],
.form-group input[type="file"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group input[type="text"]:focus,
.form-group input[type="file"]:focus {
  outline: none;
  border-color: #4caf50;
}

.form-group input[type="file"] {
  cursor: pointer;
}

button {
  padding: 1.4rem;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.button-volver-pago{
  padding: 1.4rem;
  background-color: #f44336;;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  transition: background-color 0.3s ease;

  &:hover{
    background-color: #e53935;
  
  }
}

button:hover {
  background-color: #45a049;
}

.qr-section {
  text-align: center;
}

.qr-section img {
  max-width: 100%;
  height: auto;
}
