@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario-registroChiva{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 0;
    grid-template-rows: repeat(4, auto);
    @include m.tablet{
        @include m.grid(2, 2rem);
        gap: 2rem;
    }

    .formulario__campoChiva{
        border: none;
        background-color: #e1e1e1;
        border-radius: 1rem;
        padding: 1rem;
        appearance: none;  
    }
}
.formulario__submitAdmin, .formulario__volver {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición para cambio de color */
}

.formulario__submitAdmin:hover, .formulario__volver:hover {
    background-color: #45a049;
}

.formulario__volver {
    background-color: #f44336; /* Color de fondo para el botón de volver */
}

.formulario__volver:hover {
    background-color: #e53935; /* Color de fondo al pasar el cursor */
}

.imagenAdmin {
    flex: 1;
    margin-right: 20px;
}

.botonesAdmin {
    display: flex;
    flex-direction: column;
}

.botonesAdmin a {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    text-align: center;
}

.botonesAdmin a:hover {
    background-color: #0056b3;
}

.imagen img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}